.know{
    padding-bottom: 100px;
    padding-top:200px ;
}

.know>h1{
    color: white;
}

.progress{
    width: 40%;
    height: 10px;
    background-color: white;
    margin: auto;
    border-radius: 15px;
}

.progress>span{
    background-color: rgb(63, 36, 184);
    width: 90%;
}

@media only screen and (max-width: 685px){
    .progress{
        width: 80%;
       
    }
}