.about_text{
   background-color: rgb(84, 0, 240);
   width: 50%;
   height: 30%;
   margin: auto;
   margin-top: 15px;
   border-radius: 15px;
   box-shadow: 10px 10px 5px 0px rgba(122, 71, 216, 0.75);
}
.about>h1{
    color: white;
    padding-top: 200px;
    padding-bottom: 100px;
}

.about_card{
    background-color: rgb(84, 0, 240);
    height: 100%;
    width: 50%;
    flex: 1;
    margin: auto;
    border-radius: 100% 0% 39% 61% / 100% 0% 100% 0%   ;
    box-shadow: 10px 10px 5px 0px rgba(122, 71, 216, 0.75);

}
p{
    text-align: center;
    padding-top: 10px;
    font-size: large;
    color: white;
}

@media only screen and (max-width: 685px){
    .about_card>img{
        height: 300px;
    }
    .about_text{
        width: 60%;
    }
}
